* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgcolor:  #090909;
    --secondbgcolor: #1a1a1a;
    --highlightcolor: #007ee5;
    --textcolor: #ffffff;
}



@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/Proxima\ Nova/woff2') format('woff2');
}


html {
    height: 100%;
}

body {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
} 

main {
    flex: 1 0 auto;  
}

